.about {
  padding: 40px 20px 10px;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: var(--grey-200);
  line-height: 1.8;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  background: var(--green-100);
  top: -20%;
  left: 50%;
  height: 3px;
  width: 40px;
}

.location {
  margin: 70px;
  height: 420px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left {
  background: url('../../assets/about-contact.webp') 0/100% no-repeat;
  height: 100%;
  flex: 0 0 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.map {
  height: 100%;
}

.h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: normal;
  font-family: var(--font-family);
}

.p__contact {
  margin-bottom: 40px;
}

.h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: var(--font-family);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1400px) {
  .left {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .location {
    padding-top: 50px;
    padding-bottom: 40px;
    height: 720px;
  }
}

@media (max-width: 700px) {
  .about {
    padding: 0px;
  }
  .content::before {
    display: none;
  }
  .location {
    padding-top: 10px;
    margin: 0 20px;
  }
}
