.about {
  padding: 40px 20px 10px;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: var(--grey-200);
  line-height: 1.8;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  background: var(--green-100);
  top: -20%;
  left: 50%;
  height: 3px;
  width: 40px;
}

.location {
  display: flex;
  align-items: center;
  margin: 70px;
  height: 470px;
}

.left {
  background: url('../../assets/about-contact.webp') 0/100% no-repeat;
  height: 470px;
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.map {
  height: 100%;
  line-height: 1.8;
}

.h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: normal;
  font-family: var(--font-family);
}

.p__contact {
  margin-bottom: 40px;
}

.h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: var(--font-family);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
