.header {
  height: 75px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 25px;

  font-size: 18px;
}

.item {
  transition: all 0.2s ease-in-out;
}

.item a {
  color: var(--grey);
  text-decoration: none;
}

.item:hover {
  border-bottom: 2px solid var(--primary);
}
