.header {
  height: 75px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 10px;
}
.item {
}
