.login {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white);
}

.wrapper {
  padding: 50px;
  box-shadow: 0 9px 62px rgb(0 0 0 / 20%);
  width: 500px;
  text-align: center;
}

.hr {
  margin-top: 20px;
  height: 1px;
  width: 50%;
  background: var(--green-100);
  border: none;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin-top: 40px;
  color: var(--white);
  font-size: 32px;
  font-weight: 800;
}

.icon {
  display: block;
  height: 24px;
  text-align: center;
}

.icon:hover img {
  transform: scale(1.05);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.error {
  color: rgb(192, 34, 34);
  margin: 10px 0 0 0;
  padding: 0;
}

.title {
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 1.4;
  color: var(--black-100);
  font-weight: normal;
  font-family: var(--font-family);
}

.label {
  width: 100%;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;

  transition: 0.4s;
}

.contact textarea {
  margin-bottom: 40px;
}

.input:focus {
  border-bottom-color: var(--green-100);
  color: #111;
}

.button {
  padding: 15px 10px;
  min-width: 150px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links a {
  transition: all 0.3s;
}

.links a:hover {
  color: var(--green-100);
}
