@import '../../styles/global.css';

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
}
.wrapper {
  width: 500px;
  text-align: center;
}
.title {
  margin: 0;
  color: var(--white);
  font-size: 32px;
  font-weight: 800;
}
.subtitle {
  color: var(--yellow);
  font-size: 16px;
}
