:root {
  --black: #000;
  --black-100: #111;
  --black-200: #222;
  --white: white;
  --green-100: #0ece91;

  --grey-100: #b7b7b7;
  --grey-200: #707070;

  --font-family-main: 'Raleway', sans-serif;
  --font-family: 'Aldrich', sans-serif;
}
