.title {
  text-transform: uppercase;
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: normal;
  margin-bottom: 30px;
}

.list {
  padding: 0;
  margin: 0;
}

.list a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
}

.link {
  padding: 20px;
  display: block;

  border-bottom: 0.2px dotted var(--black);
  transition: all 0.2s ease-in-out;

  cursor: pointer;
}

.link:hover {
  background: var(--white-100);
}
