@import '../../styles/global.css';

.nav {
  min-height: 60px;
  width: 100%;
  background-color: var(--black);
}

.wrapper {
  max-width: 1500px;
  clear: both;
  padding: 14px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--grey-100);
  font-size: 14px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu__item {
  list-style: none;
  float: none;

  cursor: pointer;
}

.menu__item:hover a {
  color: var(--yellow);
}

.link {
  color: var(--white);
  text-decoration: none;
}
