@import './styles/global.css';

body {
  min-height: 100vh;
  background-color: var(--white-100);
  margin: 0;
  font-family: var(--font-family);
  padding: 0;
}

li {
  list-style: none;
}

#root {
  height: 100%;
}
