@import '../../styles/global.css';

.footer {
  border-top: 0.2px solid var(--grey-100);
  min-height: 60px;
  width: 100%;
  background-color: var(--black);
}
.wrapper {
  padding: 14px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--grey-100);
}
