.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
}
.body {
  min-height: 100%;
  margin-top: 80px;
  flex: 1 0 100%;
  background-color: var(--white);
}
.navbar {
}
.footer {
}
